name: Java CI with Maven

on:
  push:
    branches: ["main", "develop"]
  pull_request:
    branches: ["main", "develop"]
  workflow_dispatch:

env:
  MIN_COVERAGE_OVERALL: "60"
  MIN_COVERAGE_CHANGED_FILES: "80"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      checks: write
      pull-requests: write
      statuses: write
      actions: read
      security-events: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: "11"
          distribution: "corretto"
          cache: maven

      # Temporarily added lib/java
      - name: Build with Maven
        run: cd lib/java && mvn -B package --file pom.xml

      - name: Publish Test Report
        if: success() || failure()
        uses: scacap/action-surefire-report@v1

      # Temporarily added lib/java
      - name: Publish Test Results
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: |
            lib/java/target/surefire-reports/*.xml

      # Temporarily added lib/java
      - name: Generate JaCoCo report
        run: cd lib/java && mvn jacoco:report

      # Temporarily added lib/java
      - name: Upload JaCoCo Report
        uses: actions/upload-artifact@v4.3.1
        with:
          name: code-coverage-report
          path: |
            ${{ github.workspace }}/**/lib/java/target/site/jacoco/*

      # Temporarily added lib/java
      - name: Add Code Coverage to PR
        id: jacoco
        uses: madrapps/jacoco-report@v1.7.1
        with:
          paths: |
            ${{ github.workspace }}/**/lib/java/target/site/jacoco/jacoco.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          title: Code Coverage
          min-coverage-overall: ${{ env.MIN_COVERAGE_OVERALL }}
          min-coverage-changed-files: ${{ env.MIN_COVERAGE_CHANGED_FILES }}
          pass-emoji: ":green_circle:"
          fail-emoji: ":red_circle:"

      # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
      # Updated to point to the correct directory containing pom.xml
      - name: Update dependency graph
        uses: advanced-security/maven-dependency-submission-action@v3
        with:
          directory: ${{ github.workspace }}/lib/java
          maven-args: "-B -DskipTests"